@import 'fonts.css';
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
}
.menu__bar {
  background-image: url('../img/header.png');
  background-size: cover;
  background-position: 0 100%;
}
a {
  text-decoration: none;
  color: #7f7f7f;
}
a:hover {
  color: #333333;
}
.nav {
  position: fixed;
  display: block;
  top: 65px;
  right: 65px;
}
.row {
  text-align: center;
}
.row h1 {
  font-family: 'Caladea Bold';
  margin-bottom: 55px;
  font-size: 45px;
}
.row span {
  color: #d63c37;
}
.row__text {
  padding-top: 470px;
}
.row__text p {
  font-family: 'Aileron Regular';
  color: #7a7a7a;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 635px;
}
.about__img {
  padding-top: 585px;
}
