@import 'fonts.css';
body {
  user-select: none;
}
button:focus {
  outline: 0;
}
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  text-align: center;
}
h2,
p {
  margin: 0px;
  padding: 0px;
}
.menu__bar {
  background-image: url('../img/header.png');
  background-size: cover;
  background-position: 0 100%;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #7f7f7f;
}
.menu__icon {
  font-size: 30px;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  outline: none;
}
.menu {
  display: none;
}
.content {
  padding-top: 300px;
  text-align: center;
}
.content h1 {
  font-family: 'Caladea Bold';
  margin-bottom: 55px;
  font-size: 45px;
}
.content span {
  color: #d63c37;
}
.content p {
  font-family: 'Aileron Regular';
  color: #7a7a7a;
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 450px;
}
.about__img {
  padding-top: 450px;
  padding-bottom: 35px;
}
.about__text__h2-p h2 {
  padding: 170px 0 55px 30px;
  font-size: 36px;
  font-family: 'Caladea Bold';
}
.about__text__h2-p span {
  color: #d63c37;
  text-decoration: underline;
}
.about__text__h2-p p {
  padding-bottom: 55px;
  padding-left: 105px;
  font-size: 18px;
  color: #666666;
}
.about__text-red {
  padding-bottom: 30px;
}
.about__text-red p {
  padding-bottom: 10px;
}
.about__text {
  font-size: 18px;
  font-family: 'Aileron Regular';
}
.icon {
  display: inline-flex;
}
.icon i {
  padding-top: 5px;
  padding-left: 50px;
  color: #d63c37;
}
.icon p {
  padding-left: 30px;
}
.about__text-lorem {
  padding-left: 100px;
}
.services {
  background: #d63c37;
}
.services__title {
  font-family: 'Caladea Bold';
  font-size: 36px;
  padding-top: 170px;
}
.services__title span {
  color: #fff;
  text-decoration: underline;
}
.services__text {
  text-align: end;
  padding-bottom: 100px;
}
.services__text h3 {
  font-family: 'Aileron Bold';
  color: #fff;
  font-size: 24px;
  padding-top: 65px;
}
.services__text p {
  font-family: 'Aileron Regular';
  font-size: 18px;
  padding-top: 10px;
}
.services__icon {
  margin-top: 80px;
  font-size: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  color: #fff;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
