@media screen and (max-width: 1024px) and (min-width: 768px) {
    .content {
        padding-top: 60px;
    }
    .content h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .content p {
        padding-bottom: 325px;
    }
    .about__img {
        padding-top: 0px;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }
    .about__text__h2-p h2 {
        text-align: center;
        padding: 18px;
    }
    .about__text__h2-p p {
        padding-bottom: 25px;
        text-align: center;
        padding-left: 0;
    }
    .about__text-red {
        padding-bottom: 10px;
    }
    .services__title {
        padding-top: 80px;
        text-align: center;
    }
    .services__text h3 {
        padding-top: 20px;
        text-align: center;
    }
    .services__text p {
        text-align: center;
    }
    .services__icon {
        display: none;
    }
    .about {
        display: flex;
    }
    .about__order {
        order: -1;
    }
    .menu__icon {
        font-size: 20px;
        top: 10px;
        right: 10px;
    }
    ul, li {
        padding-bottom: 10px;
    }
    ul .menu {
        top: 45px;
        right: 14px;
        font-size: 15px;
    }
}